{% extends 'base.html' %}

{% block head %}
<title>Project Updates</title>
{% endblock %}

{% block body %}
<div class="form-container">
    <h1 style="text-align: center">Update project</h1>

    <div class="form">
        <form action="/update_form/{{project.id}}" method="POST" enctype="multipart/form-data">
        <label for="pTask">Project Task:</label><br/>
        <input type="text" name="pTask" id="pTask" value="{{ project.task }}" required><br/><br/>

        <label for="task-type">Category:</label><br/>
        <select id="task-type" name="task_type" required>
            <option value="assignment" {% if project.category == 'assignment' %}selected{% endif %}>AWS</option>
            <option value="project" {% if project.category == 'project' %}selected{% endif %}>Project Submission</option>
            <option value="presentation" {% if project.category == 'presentation' %}selected{% endif %}>Presentation</option>
        </select>
        <br/><br/>

        <label for="pr">Priority:</label><br/>
        <input type="number" name="pr" id="pr" min="1" max="5" value="{{ project.priority }}" required><br/><br/>

        <label for="due-date">Due Date:</label><br/>
        <input type="date" id="due-date" name="due_date" value="{{ project.due_date }}" required><br/><br/>

        <!-- Current File Display -->
        <label for="current-file">Current File:</label><br/>
        <p>{{ project.file_name }}</p>
        <br/>

        <!-- File Upload -->
        <label for="file-upload">Replace File (Optional):</label><br/>
        <input type="file" id="file-upload" name="file_upload"><br/><br/>

        <button type="submit">Update Project</button>
        </form>
    </div>
</div>
{% endblock %}